<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf - comments(주석)</title>
</head>
<body>
    <!-- 항상 개발자도구의 network창에서 response 부분을 보면 좋아요 !-->
    <h1>예시</h1>
    <span th:text="${data}">html data</span>
    <h1>1. 표준 HTML 주석</h1>
    <!--
    <span th:text="${data}">html data</span>
    -->
    <h1>2. 타임리프 파서 주석</h1>
    <!-- 타임리프의 짧은 주석, 긴 주석 -->

    <!--/*   [[${data}]]   */-->

    <!--/*-->
    <span th:text="${data}">html data</span>
    <!--*/-->

    <h1>3. 타임리프 프로토타입 주석</h1>
    <!-- 얘는 타임리프로 렌더링되었을 때만, 보이는 주석!!! -->

    <!--/*/
        <span th:text="${data}">html data</span>
    /*/-->
</body>
</html>