<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf - 변수</title>
</head>
<body>
  <h1>SpringEL 표현식</h1>

  <ul>Object
    <li>${user.username} = <span th:text="${user.username}"></span></li>
    <li>${user['username']} = <span th:text="${user['username']}"></span></li>
    <li>${user.getUsername()} = <span th:text="${user.getUsername()}"></span></li>
  </ul>

  <ul>List
    <li>${users[0].username} = <span th:text="${users[0].username}"></span></li>
    <li>${users[0]['username']} = <span th:text="${users[0]['username']}"></span></li>
    <li>${users[0].getUsername()} = <span th:text="${users[0].getUsername()}"></span></li>
  </ul>

  <ul>Map
    <li>${userMap['userA'].username} =
        <span th:text="${userMap['userA'].username}"></span></li>
    <li>${userMap['userA']['username']} =
        <span th:text="${userMap['userA']['username']}"></span></li>
    <li>${userMap['userA'].getUsername()} =
        <span th:text="${userMap['userA'].getUsername()}"></span></li>
  </ul>

    <!-- th:with를 사용하면, 지역변수 선언해서 사용 가능 -->
    <h1>지역변수 - (th:with)</h1>

    <div th:with="first = ${users[1].getUsername()}">
        <p>users[1].getUsername : <span th:text="${first}"></span></p>
    </div>
</body>
</html>